@charset "utf-8";

/* Общие стили для сайта*/

body {
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #505050;
}

/* Стили для header*/

header {
	width: 100%;
	float: left;
	background-color: #505050;
	border-bottom: 5px solid silver;
	margin-top: 0px; /* Внешний отступ сверху */
    padding-top: 0px;
}

header {
    background-color: #505050;
    color: #fff;
    padding: 20px 0;
    text-align: center;
	float: center;
}

h1 {
    margin: 0;
    color: #FFFFFF;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li, #regAuth{
    display: inline;
    margin-right: 20px;
}

nav ul li a, #regAuth a  {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover, #regAuth a:hover {
    background-color: #F77408;
}

#closedButtons {
    color: #A9A9A9;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#closedButtons:hover {
    background-color: #808080;
}

.logo {
	color: #F77408;
}

#regAuth {
	width: 30%;
	float: right;
	text-align: right;
	font-size: 1.2em;
}

 /* Стили для выбора языка */

 #language-selector {
     position: relative;
     display: inline-block;
     font-size: 16px;
     margin-right: 900px;
 }

 #language-select {
     color: #fff;
     padding: 10px 15px;
     border: 1px solid #ccc;
     border-radius: 5px;
     background-color: #505050;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
     appearance: none; /* Remove default arrow */
     cursor: pointer;
 }

 #language-select:focus {
     outline: none;
     border-color: #F77408;
     box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
 }

 #language-selector::after {
     content: '\25BC'; /* Down arrow */
     position: absolute;
     right: 15px;
     top: 50%;
     transform: translateY(-50%);
     pointer-events: none; /* Prevent click on the arrow */
     font-size: 14px;
     color: #333;
 }

/* Стили для footer*/

footer {
	width: 98%;
	float: left;
	padding: 1%;
	background-color: #505050;
	border-top: 2px solid silver;
	margin-top: 10px;
}

footer #social {
	float: left;
	width: 50%;
}

footer #social img {
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 10px;
}

footer #right {
	float: right;
	width: 50%;
	text-align: right;
	font-size: 1.1em;
}

/* Стили для авторизации*/
#remember_me {
        position: absolute;
}

#container {
    width: 600px;
    margin: 150px auto;
    background-color: #A5A5A5;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #F77408;
}

#logoAuthor {
	color: #fff;
}

#container input {
	width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#container button{
	width: 100%;
    background-color: #F77408;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

#container button:hover {
    background-color: #505050;
}

#container a{
	color: #505050;
}

#container a:hover {
	color: #F77408;
}

/* Стили для регистрации*/

#containerRegistr {
    width: 600px;
    margin: 150px auto;
    background-color: #A5A5A5;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#containerRegistr h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #F77408;
}

#logoRegistr {
	color: #fff;
}

#containerRegistr input {
	width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#containerRegistr button{
	width: 100%;
    background-color: #F77408;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;
}

#containerRegistr button:hover {
    background-color: #505050;
}

#containerRegistr a{
	color: #505050;
}

#containerRegistr a:hover {
	color: #F77408;
}

/* Стили для about */

#about_us {
	width: 76%;
	margin-left: 10%;
	border: 1px solid silver;
	background-color: #f4f4f4;
	padding: 2%;
}

#functionEditAboutUs button{
    padding: 10px 20px;
    background-color: #505050;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#functionEditAboutUs button:hover {
    background-color: #F77408;
}

/* Стили для сраницы user_profile*/

#userInfo {
	width: 76%;
	margin-left: 10%;
	border: 1px solid silver;
	background-color: #f4f4f4;
	padding: 2%;
}

#userInfo a {
    padding: 8px 20px;
    background-color: #505050;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

#userInfo a:hover {
    background-color: #F77408;
}

#functionProfileEdit button{
    padding: 10px 20px;
    background-color: #505050;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#functionProfileEdit button:hover {
    background-color: #F77408;
}

/* Стили для статей */

#update {
	width: 78%;
	margin-left: 10%;
	background-color: #f6f6f6;
	padding: 1%;
	float: left;
}

#divider {
    border-top: 3px solid black;
}

#update h2 {
	font-weight: normal;
	font-size: 1.4em;
	color: #636363;
	font-family: Comic Sans MS, sans-serif;
}

#update p {
	width: 90%;
	margin-left: 5;
}

/* Стили для сраницы admin_profile*/

#functionAdminProfile a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#functionAdminProfile a:hover {
    background-color: #F77408;
}

#error-messageFunction {
    color: #FFFFFF;
    text-decoration: none;
}

#functionChoice {
    color: #505050;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#functionChoice:hover {
    background-color: #F77408;
}

#functionAddUpdate button {
    padding: 10px 20px;
    background-color: #505050;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#functionAddUpdate button:hover {
    background-color: #F77408;
}

#functionAddContact button {
    padding: 5px 10px;
    background-color: #505050;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#functionAddContact button:hover {
    background-color: #F77408;
}


/* Стили для статей */

#article {
	width: 78%;
	margin-left: 10%;
	background-color: #f6f6f6;
	padding: 1%;
	float: left;
}

#article img {
	width: 30%;
	float: right;
	margin-bottom: 10px;
}

#functionReadNews a {
    padding: 8px 20px;
    background-color: #505050;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

#functionReadNews a:hover {
    background-color: #F77408;
}

#article div {
    margin-top: 100px;
    margin-bottom: 100px;

}

#divider {
    border-top: 3px solid black;
}

#article a:hover {
    color: #000000;
}

#article h2 {
	font-weight: normal;
	font-size: 1.4em;
	color: #636363;
	font-family: Comic Sans MS, sans-serif;
}

#article p {
	width: 90%;
	margin-left: 5;
}

#article div.more {
	padding: 5px;
	border-radius: 5px;
	background-color: #878787;
	color: #fff;
	width: 10%;
	text-align: center;
	margin-top: 10px;
}

#article div.more:hover {
	background-color: #a2a2a2;
}

/* Стили для сраницы newsInfo*/

#newsInfo {
	width: 76%;
	margin-left: 10%;
	border: 1px solid silver;
	background-color: #f4f4f4;
	padding: 2%;
}

#functionDeleteNews a {
    padding: 10px 20px;
    background-color: #505050;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

#functionDeleteNews a:hover {
    background-color: #F77408;
}

#functionEditNews button {
    padding: 10px 20px;
    background-color: #505050;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#functionEditNews button:hover {
    background-color: #F77408;
}

#functionAddNews button {
    padding: 10px 20px;
    background-color: #505050;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#functionAddNews button:hover {
    background-color: #F77408;
}

/* Стили для поиска и категории news*/

#search_form_news {
	width: 80%;
	margin-left: 10%;
	border: 1px solid silver;
	background-color: #f4f4f4;
	margin-top: 20px;
}

#search_form_news input{
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
}

#search_form_news button{
    padding: 10px 20px;
    background-color: #505050;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search_form_news button:hover {
    background-color: #F77408;
}

 /* Стили для модального окна */

#editFormNews, #newsComment, #addNews ,#editProfile, #addUpdate, #addContact, #editAboutUs {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#editNewsContent, #newsCommentContent, #addNewsContent, #editProfileContent, #addUpdateContent, #addContactContent, #editAboutUsContent {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

#editFormNews, #newsComment, #addNews, #editProfile, #addUpdate, #addContact, #editAboutUs  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#editFormNews, #newsComment, #addNews, #editProfile, #addUpdate, #addContact, #editAboutUs .close:hover,.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#titleEditNews, #titleMyModal {

    width: 600px;
    height: 45px;
    padding: 10px;
    font-size: 16px;

}

#shortDescriptionEditNews, #shortDescriptionMyModal {
    width: 600px;
    height: 45px;
    padding: 10px;
    font-size: 16px;
}

#contentEditNews, #contentComment, #contentMyModal {
    width: 1000px;
    height: 500px;
    padding: 10px;
    font-size: 16px;
}

 /* Стили для комментариев */

#commentsContainer {
    width: 60%;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#commentsContainer h2 {
    text-align: center;
    color: #333;
}

#commentsList .comment {
    background: #fafafa;
    padding: 10px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
}


#commentContent {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

#commentAuthor {
    font-size: 12px;
    color: #aaa;
}

#functionDeleteComment a {
    padding: 4px 10px;
    background-color: #505050;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

#functionDeleteComment a:hover {
    background-color: #F77408;
}

#functionAddNewsComment button {
    padding: 10px 20px;
    background-color: #505050;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#functionAddNewsComment button:hover {
    background-color: #F77408;
}

